In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
url= 'https://covid19.ncdc.gov.ng/'

In [3]:
#Create a handle, page, to handle the contents of the website
page = requests.get(url)

In [4]:
#Store the contents of the website under doc
doc = lh.fromstring(page.content)

In [5]:
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

## Table header

In [7]:
tr_elements = doc.xpath('//tr')

In [8]:
#Create empty list
col=[]
i=0

In [9]:
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content().replace('\n', ' ').strip()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"States Affected"
2:"No. of Cases (Lab Confirmed)"
3:"No. of Cases (on admission)"
4:"No. Discharged"
5:"No. of Deaths"

## Create Pandas DataFrame

In [10]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 5, the //tr data is not from our table 
    if len(T)!=5:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content().replace('\n', ' ').strip() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [11]:
[len(C) for (title,C) in col]

[37, 37, 37, 37, 37]

In [12]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [13]:
df.head()

,States Affected,No. of Cases (Lab Confirmed),No. of Cases (on admission),No. Discharged,No. of Deaths
0,Lagos,"24,238",793,"23,218",227
1,FCT,"7,716","1,345","6,287",84
2,Plateau,"3,937",79,"3,824",34
3,Oyo,"3,747",339,"3,363",45
4,Kaduna,"3,501",355,"3,099",47